<div class ="container" >
  <p>Products List</p>
  <%= link_to 'Add Product',new_product_path %>
  <br>
  <br>
  <table border="2px">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= truncate(product.description, :length => 75) %></td>
        <td><%= product.price %></td>
        <td>
                <%= link_to 'Show', product_path(product.id) %>
                <%= link_to 'Edit', edit_product_path(product.id) %>
                <%= link_to 'Delete', product_path(product.id), method: :delete %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
